NodeRedWetterstation
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0ea24ff795bdd196",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "temperature1",
        "topic": "Wetter/Temperatur",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "39126a0cb9359513",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "5644fc2ad55f9d5d",
                "7b141128b8b268d6",
                "5b9568483363c345"
            ]
        ]
    },
    {
        "id": "a056f4118475b2c7",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "humidity1",
        "topic": "Wetter/Feuchtigkeit",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "39126a0cb9359513",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 220,
        "wires": [
            [
                "e152189ee34516f6",
                "f7e0db7ce88c52f9",
                "12283695e2325bb8"
            ]
        ]
    },
    {
        "id": "5644fc2ad55f9d5d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "e152189ee34516f6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "7b141128b8b268d6",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6c59ad46eb67462a",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "f7e0db7ce88c52f9",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "eabd077dc1c983f5",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "5b9568483363c345",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6c59ad46eb67462a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp.-Verlauf",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "12283695e2325bb8",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "eabd077dc1c983f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Feucht.-Verlauf",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60",
            "#08bf60"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 320,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "39126a0cb9359513",
        "type": "mqtt-broker",
        "name": "broker.mqttdashboard.com",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c59ad46eb67462a",
        "type": "ui_group",
        "name": "Temperatur",
        "tab": "d3f9662af889a479",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eabd077dc1c983f5",
        "type": "ui_group",
        "name": "Feuchtigkeit",
        "tab": "d3f9662af889a479",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3f9662af889a479",
        "type": "ui_tab",
        "name": "Wetterstation",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
